<div class="surface-card shadow-2 border-rounded p-3">
    <div class="flex pb-3">
        <img [src]="data.image ?? defaultImage" style="width: 72px;height: 72px" class="mr-3" />
        <div class="flex flex-column">
            <span class="text-2xl text-900 font-medium">{{data.title}}</span>
            <span class="text-md text-600 font-medium">{{data.subtitle}}</span>
        </div>
    </div>
    <div class="flex flex-wrap mb-1">
        <p-chip *ngFor="let tag of data.tags" [styleClass]="tag" class="p-1" [label]="tag"></p-chip>
    </div>
    <div class="flex border-bottom-1 surface-border pb-3">
        <div>
            <span class="text-md text-900">{{data.description}}</span>
        </div>
    </div>
    <div class="grid pt-3">
        <div class="col" *ngFor="let link of data.urls | keyvalue">
            <a [href]="link.value">
                <button pButton [label]="link.key" style="width: 100%" class="p-button-outlined p-button mx-1"></button>
            </a>
        </div>
    </div>
</div>